body{
    margin: 10px;
    padding: 20px;
}

.card{
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
}

h1{
    text-align: center;
    color: white;
}

#formTodo{
    display: flex;
    gap: 10px;

}

input{
    flex: 1;
}

h3{
    text-align: center;
    color: white;
}

#btnTambahTodo{
    background-color: green;
    border: none;
    color: white;
}

/* Styling untuk setiap baris tugas */
li { 
    background: white; 
    margin-bottom: 10px; 
    padding: 10px; 
    list-style: none; 
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Styling teks saat tugas selesai (dicoret) */
.done { 
    text-decoration: line-through; 
    color: gray; 
    opacity: 0.6;
}

/* Warna tombol-tombol aksi */

/* Tombol "Selesai" */
.status-btn { 
    background-color: #ffc107; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 4px; 
    cursor: pointer; 
}

/* Tombol Edit */
.edit-btn { 
    background-color: #17a2b8; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 4px; 
    cursor: pointer; 
}